{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- =========================================================
     PAGE: Admin – Latest Activities
     DESCRIPTION:
       Displays a detailed list of recent system activities.
       Includes timestamps, users, activity type, and status.
       Backend will later dynamically load these logs.
   ========================================================= -->

<div class="activities-container h-full bg-slate-200 flex flex-col gap-2">

  <!-- =========================================
       HEADER SECTION
       ========================================= -->
  <header class="admin-header flex justify-between p-1 flex-none">
    <!-- Site Title / Home Link -->
    <a href="{% url 'admin_dashboard' %}"
      class="brand-title text-4xl">Plagiarism Detection</a>

    <!-- Page Title -->
    <h1 class="page-title text-2xl">Admin</h1>

    <!-- Profile Icon Redirecting to Admin Account -->
    <a href="{% url 'admin_account' %}" class="profile-icon border-2 p-2"
      title="Account Info">
      <span>A</span>
    </a>
  </header>

  <!-- =========================================
       MAIN ACTIVITIES PANEL
       ========================================= -->
  <div class="activities-panel p-2 flex flex-col gap-2">
    <h2 class="text-2xl">Activities</h2>
    <!-- ====== COLUMN HEADERS ====== -->
    <table class="w-full text-sm text-left rtl:text-right border-2 border-neutral-700">
      <thead class="text-xs uppercase font-bold">
        <tr class="">
          <th scope="col" class="px-6 py-3">User</th>
          <th scope="col" class="px-6 py-3">Action</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">File Name</th>
          <th scope="col" class="px-6 py-3">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for report in reports %}
        <tr class="activity-row border-b">
          <th scope="col" class="px-6 py-4 font-medium whitespace-nowrap">{{report.instructor_id.first_name}}
            {{report.instructor_id.last_name}}</th>
          <td class="px-6 py-4">Uploaded a checking document</td>
          <td class="px-6 py-4">{{report.checking_document_name}}</td>
          <td class="px-6 py-4">{{report.checking_document_file.name}}</td>
          <td class="px-6 py-4">{{report.created_at}}</td>
        </tr>
        {% endfor %}
        {% for report in university_reports %}
        <tr class="activity-row border-b">
          <th scope="col" class="px-6 py-4 font-medium whitespace-nowrap">{{report.university_id.university_name}}</th>
          <td class="px-6 py-4">Uploaded a research document</td>
          <td class="px-6 py-4">{{report.research_document_name}}</td>
          <td class="px-6 py-4">{{report.research_document_file.name}}</td>
          <td class="px-6 py-4">{{report.created_at}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
