{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- =========================================================
     PAGE: Admin – Latest Activities
     DESCRIPTION:
       Displays a detailed list of recent system activities.
       Includes timestamps, users, activity type, and status.
       Backend will later dynamically load these logs.
   ========================================================= -->

<div class="activities-container h-full bg-slate-200 flex flex-col gap-2">

  <!-- =========================================
       HEADER SECTION
       ========================================= -->
  <header class="admin-header flex justify-between p-1 flex-none">
    <!-- Site Title / Home Link -->
    <a href="{% url 'admin_dashboard' %}"
      class="brand-title text-4xl">Plagiarism Detection</a>

    <!-- Page Title -->
    <h1 class="page-title text-2xl">Admin</h1>

    <!-- Profile Icon Redirecting to Admin Account -->
    <a href="{% url 'admin_account' %}" class="profile-icon border-2 p-2"
      title="Account Info">
      <span>A</span>
    </a>
  </header>

  <!-- =========================================
       MAIN ACTIVITIES PANEL
       ========================================= -->
  <div class="activities-panel p-2 flex flex-col gap-2">
    <h2 class="text-2xl">Activities</h2>
    <!-- ====== COLUMN HEADERS ====== -->
    <table class="activities-header-row flex flex-col p-2 border-2 border-neutral-700">
      <thead>
        <tr class="flex justify-between">
          <th scope="col">User</th>
          <th scope="col">Action</th>
          <th scope="col">Name</th>
          <th scope="col">Fileanme</th>
          <th scope="col">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for report in reports %}
        <tr class="activity-row flex justify-between border-b-2 border-b-neutral-400">
          <th scope="col">{{report.instructor_id.first_name}}
            {{report.instructor_id.last_name}}</th>
          <tr>Uploaded a checking document</td>
          <tr>{{report.checking_document_name}}</td>
          <tr>{{report.checking_document_file.name}}</td>
          <tr>{{report.created_at}}</td>
        </tr>
        {% endfor %}
        {% for report in university_reports %}
        <tr class="activity-row flex justify-between border-b-2 border-b-neutral-400">
          <th scope="col">{{report.university.university_name}}</th>
          <tr>Uploaded a research document</td>
          <tr>{{report.research_document_name}}</td>
          <tr>{{report.research_document_file.name}}</td>
          <tr>{{report.created_at}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
