{% extends "base.html" %}
{% load static %}

{% block title %}Welcome — Plagiarism Detection{% endblock %}
{% block body_class %}index-page{% endblock %}

{% block content %}
<!-- =========================================================
     PAGE: Welcome / Landing Page
     DESCRIPTION:
       Entry point for the Plagiarism Detection platform.
       Introduces users to the system and provides access
       to the “Continue” selection page.
   ========================================================= -->

<div class="welcome-container h-full flex flex-col justify-center items-center gap-10">

  <!-- =========================================
       WELCOME HEADER TEXT
       ========================================= -->
  <div class="flex flex-col items-center">
    <div>
      <div class="welcome-line">
        <!-- "WELCOME TO" displayed above main title -->
        <span class="welcome-text text-7xl">WELCOME</span>
        <span class="to-text text-3xl">TO</span>
      </div>

      <!-- =========================================
          MAIN PAGE TITLE
          ========================================= -->
      <h1 class="title text-9xl">
        <span class="plagiarism-word">PLAGIARISM</span> DETECTION
      </h1>
  </div>
    <!-- =========================================
        SUBTITLE SECTION
        ========================================= -->
    <p class="subtitle text-3xl">
      Academic plagiarism detection for universities & instructors
    </p>
  </div>
  <!-- =========================================
       CONTINUE SECTION (Bottom CTA)
       ========================================= -->
  <div class="continue-section flex flex-col gap-3 ">
    <p class="continue-hint text-1xl">Want to continue.. ?</p>
  
    <!-- Button leading to Continue page (role selection) -->
    <a class="continue-btn bg-neutral-800 p-4 text-neutral-200 hover:bg-neutral-200 hover:text-neutral-800" href="{% url 'login_page' %}">Continue...</a>
  </div>
</div>


{% endblock %}
