{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- =========================================================
     PAGE: Instructor Report Overview
     DESCRIPTION:
       Displays a detailed plagiarism report summary for a
       selected document. Includes similarity score,
       statistics, matching sources, and text comparison.
   ========================================================= -->

<div class="report-container h-full bg-amber-100 flex flex-col gap-1">

  <!-- =========================================
       HEADER SECTION
       ========================================= -->
  <header class="instructor-header flex justify-between p-2">
    <!-- Logo/Title -->
    <a href="{% url 'instructor_dashboard' %}"
      class="brand-title text-4xl">Plagiarism Detection</a>

    <!-- Page Title -->
    <h1 class="page-title text-2xl">Instructor Report</h1>

    <!-- Profile Icon -->
    <a href="{% url 'instructor_account' %}" class="profile-icon border-2 p-2"
      title="Account Info">
      <span>I</span>
    </a>
  </header>

  <main class="upload-section flex flex-col flex-1 p-2 gap-2">
    <div
      class="basic_stats border-2 border-neutral-700 flex flex-col gap-2 p-3">
      <p class="text-3xl">{{document.checking_document_name}} - <a href="{% url 'instructor_report_view_content' document.id %}" class="text-xl underline">View Content</a></p>
      <div class="grid grid-flow-col gap-2">
        <p
          class="flex flex-col gap-2 items-center border-2 border-neutral-700 p-5">Plagiarized:
          <span
            class="text-2xl">{{document.report_result|floatformat:2}}%</span></p>
        <p
          class="flex flex-col gap-2 items-center border-2 border-neutral-700 p-5">Sentences:
          <span class="text-2xl">{{stats.no_of_sentences}}</span></p>
        <p
          class="flex flex-col gap-2 items-center border-2 border-neutral-700 p-5">Characters:
          <span class="text-2xl">{{stats.no_of_characters}}</span></p>
        <p
          class="flex flex-col gap-2 items-center border-2 border-neutral-700 p-5">Words:
          <span class="text-2xl">{{stats.no_of_words}}</span></p>
        <p
          class="flex flex-col gap-2 items-center border-2 border-neutral-700 p-5">Size:
          <span><span class="text-2xl">{{stats.size_of_document}}
            </span>bytes</span></p>
        <p
          class="flex flex-col gap-2 items-center border-2 border-neutral-700 p-5">Images:
          <span class="text-2xl">{{stats.no_of_images}}</span></p>
      </div>
    </div>
    <div class="errors border-2 border-neutral-700 p-3 flex flex-col gap-2">
      <p class="text-2xl">Errors</p>
      <div>
        {% for error in errors %}
        <div class="border-2 border-neutral-700 p-1">
          <p class="text-xs">{{error.created_at}}</p>
          <p>{{error.error_message}}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="grid grid-cols-3 gap-2">
      <div class="border-2 border-neutral-700 p-3 gap-2">
        <p class="text-2xl">Images</p>
        <div class="grid grid-cols-4 p-1 gap-3 overflow-y-auto max-h-[200px]">
          {% for image in images %}
          <img src="{{image.image.url}}" alt="file {{image.id}}"
            class="border-2 border-neutral-700">
          {% endfor %}
        </div>
      </div>
      <div class="border-2 border-neutral-700 p-3">
        <p class="text-2xl">Sentences</p>
        <div class="flex flex-col gap-2 overflow-y-auto max-h-[200px]">
          {% for sentence in sentences %}
          <span><span class="text-1xl">{{sentence.sentence_index}}. </span><span
              class="text-xs">{{sentence.sentence_enhanced_text}}</span></span>
          {% endfor %}
        </div>
      </div>
      <div class="border-2 border-neutral-700 p-3">
        <p class="text-2xl">Vectors</p>
        <div class="flex flex-col gap-2 overflow-y-auto max-h-[200px]">
          {% for sentence in vectors %}
          <span><span
              class="text-1xl">{{sentence.research_document_enhanced_text_id.sentence_index}}.
            </span><span class="text-xs">{{sentence.text_vector}}</span></span>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="border-2 border-neutral-700 p-3 flex-1">
      <a href="{% url 'instructor_report_reference' document.id %}"><p class="text-2xl">References</p></a>
      <div class="flex flex-col gap-2 overflow-y-auto max-h-[400px] border-2 border-neutral-700 flex-1">

        <div class="grid gap-2 p-2">
          
          <div class="flex flex-col gap-2">
            {% for before, current, after in checking_references_combined %}
            <div class="p-2 border-2 border-neutral-700">
              <p class="text-xs">
                {% for sentence in before %}
                {% if forloop.first %}
                <span class="text-xs font-bold">{{sentence.checking_document_id.checking_document_name}} - Sentence #{{sentence.sentence_index|add:1}}</span><br/>
                {% endif %}
                {{sentence.sentence_enhanced_text}}
                {% endfor %}
                
                <span class="bg-red-400">{{current.sentence_enhanced_text}}</span>
                
                {% for sentence in after %}
                {{sentence.sentence_enhanced_text}}
                {% endfor %}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>

  </main>
</div>
{% endblock %}
