{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-window">
  <h2>Instructor Login</h2>
<form method="POST">
  {% csrf_token %}
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>

  <div class="login-links">
    <p>Are you an Admin? <a href="{% url 'login_admin' %}">Login here</a></p>
    <p>Are you a University? <a href="{% url 'university_login' %}">Login here</a></p>
  </div>
</div>
{% endblock %}
