{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/university_upload_done.css' %}">
{% endblock %}

{% block content %}
<div class="upload-done-container h-full bg-neutral-800 flex flex-col text-white">
  <header class="upload-done-header flex justify-between p-1">
    <a href="{% url 'university_dashboard' %}" class="brand-title text-4xl text-white">Plagiarism Detection</a>
    <h1 class="text-2xl">Upload Summary</h1>
    <a href="{% url 'university_account' %}" class="profile-icon border-2 p-2"><span>U</span></a>
  </header>

  <main class="upload-summary flex-1 flex flex-col justify-center items-center gap-10">
    
    <div class="uploaded-files">
      <h2 class="text-5xl">Upload Complete!</h2>
      <p class="text-3xl">Your documents have been successfully added to your university's repository and are being processed.</p>
      <h3 class="text-2xl">Uploaded Unprocessed Files</h3>
      <ul id="uploadedList">
        <!-- These will later be rendered dynamically when backend is ready -->
        {% for file in pending %}
          <li>{{ file.research_document_name }} ({{ file.research_document_file.size }} Bytes)</li>
        {% endfor %}

      </ul>
    </div>

    <div class="upload-actions">
      <a href="{% url 'university_upload' %}" class="btn-upload-more border-2 border-white pl-20 pr-20 pt-1 pb-1">Upload More Files</a>
    </div>
  </main>
</div>
{% endblock %}
