{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/university_errors.css' %}">
{% endblock %}

{% block content %}
<div class="errors-container h-full flex flex-col gap-1 bg-neutral-800 text-white">

  <!-- =========================================
       HEADER SECTION
       ========================================= -->
  <header class="uni-header flex-none flex justify-between p-1 flex-1">
    <!-- Brand Title -->
    <a href="{% url 'university_dashboard' %}" class="brand-title text-4xl">Plagiarism Detection</a>
    <!-- Page Title -->
    <h1 class="page-title text-2xl">Errors</h1>
    <!-- Profile Icon -->
    <a href="{% url 'university_account' %}" class="profile-icon border-2 p-2" title="Account Information">
      <span>U</span>
    </a>
  </header>

  <div class="errors-grid flex p-2 flex-1">
    <!-- PROCESSING ERRORS -->
    <section class="column processing-errors flex-1">
      <h2 class="text-2xl">Processing Errors</h2>

      <div class="p-2 grid grid-cols-2">
        {% for error in errors %}
          <div class="error-card p-2 border-2 border-neutral-700">
            <h3>{{error.research_document_id.research_document_file.name}}</h3>
            <p>Error: {{error.error_message}}</p>
            <p>Text: {{error.parse_text}}</p>
            <p>Date: {{error.created_at}}</p>
          </div>
        {% endfor %}
      </div>

    </section>
  </div>
</div>
{% endblock %}
